<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/products/css/base.css' %}">
</head>
<body>

{% if user.is_authenticated %}

<nav class="navbar navbar-expand-lg navbar-dark teal mb-4">
                <a class="navbar-brand" href="{% url 'products:index' %}">فروشگاه</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'products:index' %}">خانه <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:profile' %}">پروفایل</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products:show-basket' %}">سبد خرید</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:logout' %}">خروج از حساب</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="search_form">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="text" placeholder="جستوجو کن" aria-label="Search" name="search_input" id="search_input">
                    </form>
                </div>
            </nav>
            <!--/.Navbar blue-->

    {% else %}
<nav class="navbar navbar-expand-lg navbar-dark teal mb-4">
                <a class="navbar-brand" href="#">فروشگاه</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'products:index' %}">خانه <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}">ورود</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:register' %}">ثبت نام</a>
                        </li>

                    </ul>
                    <form class="form-inline" id="search_form">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="text" placeholder="جستوجو کن" aria-label="Search" name="search_input" id="search_input">
                    </form>
                </div>
            </nav>
            <!--/.Navbar blue-->
{% endif %}
<div class="container-fluid">
<div class="row" style="text-align: left; margin-left: 2vw;">
    <div id="search_result" class="col-12"  style="width: 100vw;height: auto; max-height: 20vh; overflow: auto;">

    </div>
</div>
<div class="row">
<div class="col-lg-8 col-md-7 col-sm-12 col-12">
{% block content %}

{% endblock %}
</div>
<div class="col-lg-4 col-md-5 col-sm-12 col-12">
{% block sidebar %}

{% endblock %}
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

    $(document).ready(function () {
     var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        $('#search_result').empty();
        $("#search_input").keyup(function (){
       $.ajax({
           url: "{% url 'productapi:search' %}",
           type: "POST",
           dataType: "json",
           headers:{"X-CSRFToken": $crf_token},
      data: $('#search_form').serialize(),
           success: function (data){

               $('#search_result').empty()
            for (let mydata in data){
                if (mydata = 'product') {
                    for (let obj in data[mydata]){
                        let sdata = data[mydata]
                        var link = document.createElement('a');
                        var link_text = document.createTextNode(obj);
                        link.appendChild(link_text)
                        link.href = '/detail/' + sdata[obj]
                        $('#search_result').append(link);
                        $('#search_result').append('<br>');
                    }
                    }
            if (mydata = 'category'){
                for (let obj in data[mydata]){
                        let sdata = data[mydata]
                        var link = document.createElement('a');
                        var link_text = document.createTextNode(obj);
                        link.appendChild(link_text)
                        link.href = '/category/' + sdata[obj]
                        $('#search_result').append(link);
                    }
            }

            }

    },
           error: function(xhr, resp, text) {
                 $('#search_result').empty()
                if (this.data.length > 98) {
                    $('#search_result').append('نتیجه ای یافت نشد!');
                }

         }
          });
     });
     });

</script>
{% block js %}

{% endblock %}
</body>
</html>