{% extends 'basket/base.html' %}
{% block title %}

    سبد خرید
{% endblock %}

{% block content %}
    <div class="row" id="response-basket-info">

    </div>
<div class="row" id="basket-info">
<form method="post" id="MyForm" style="margin-right: 10vw;">
{% load bootstrap4 %}

    {% csrf_token %}
    {% bootstrap_form basket_form %}
        <label>کد تخفیف داری؟</label>
    <input type="number" class="form-control" name="coupon">
    {% buttons %}

        <input class="btn btn-warning mt-3" id="submit-button" value="اعمال کد تخفیف">
    <input type="submit" id="submit" name="submit" value="نهایی کردن" class="btn btn-block btn-primary mt-3">
    {% endbuttons %}
</form>
</div>

{% endblock %}

{% block sidebar %}
<ul class="list-group" style="margin-left: 1vw;">
  <li class="list-group-item category-sidebar">دسته بندی ها</li>

{% for cat in categories %}

  <li class="list-group-item "><a href="{% url 'products:category' cat.id %}">{{ cat.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% block js %}

    <script>
    $(document).ready(function () {
     var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
     $("#submit-button").on('click', function (){
       $.ajax({
           url: "{% url 'couponapi:coupon' %}",
           type: "POST",
           dataType: "text",
           headers:{"X-CSRFToken": $crf_token},
      data: $('#MyForm').serialize(),
           success: function (){
            alert('تخفیف با موفقیت اعمال شد');
            window.location.href = "{% url 'basket:show-orders' %}";


    },
           error: function(xhr, resp, text) {
                alert('کد تخفیف منقضی شده است')

         }
          });
     });
     });
</script>
           {% if messages %}

            {% for message in messages %}
                <div class="message-flash">
                </div>
                <script>
                            //write this above first
        let a=document.createElement('a');
        a.href="{% url 'basket:show-orders' %}";
        //then use this code for alert
        if (window.confirm('{{ message }}'))
        {
        a.click();
        };
                </script>
            {% endfor %}

    {% endif %}
{% endblock %}