{% extends 'basket/base.html' %}
{% block title %}

    سبد خرید
{% endblock %}

{% block content %}
    <div class="row">
{% for basket in the_basket %}
    <div class="col-12">
        {% for production in basket.product.all %}
            <div class="col-3">
                <img src="{{ production.image }}" style="width: 10vw; height: 10vh;">
            </div>
            <div class="col-lg-8">
                <pre>{{ production.name }}  {{ production.price }}</pre>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
<ul class="list-group" style="margin-left: 1vw;">
  <li class="list-group-item category-sidebar">دسته بندی ها</li>

{% for cat in categories %}

  <li class="list-group-item "><a href="{% url 'products:category' cat.id %}">{{ cat.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}