{% extends 'accounts/base-register.html' %}
{% block title %}
تغییر کلمه عبور
{% endblock %}
{% block style %}
<style>
    body{
        direction: rtl;
    }
</style>
{% endblock %}
{% block content %}
{% load bootstrap4 %}
<div class="container">
<div class="mt-5" style="width: 30vw; margin-right: 35%;">

    <form id="change_password_form">
        {% csrf_token %}
        {% bootstrap_form change_password_form %}
        {% buttons %}
            <input id="submit" name="submit" class="btn btn-block btn-primary" type="button" value="تغییر کلمه عبور">
        {% endbuttons %}

    </form>
</div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
     var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

     $("#submit").on('click', function (){
       $.ajax({
           url: "{% url 'authapi:change-password' %}",
           type: "POST",
           dataType: "text",
           headers:{"X-CSRFToken": $crf_token},
      data: $('#change_password_form').serialize(),
           success: function (){
             alert('تغییر کلمه عبور با موفقیت انجام شد')


    },
           error: function(xhr, resp, text){
               console.log(xhr, resp, text);
               alert('کلمه عبور با تکرار کلمه عبور یکسان نیست')

         }
          });
     });
     });
</script>
{% endblock %}
