<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ثبت نام</title>
        <style>
        * {
            direction: rtl;
        }
    </style>
</head>
<body>
<div class="container">
    {{ user.first_name }}
    {{ user.last_name }}
<form method="post">
    {% load bootstrap4 %}
{% csrf_token %}
    {% bootstrap_form customer %}
    <input type="submit" value="تکمیل ثبت نام">
</form>
</div>
</body>
</html>