{% extends 'accounts/base-register.html' %}
{% block style %}
<style>
    body{
        direction: rtl;
    }
</style>
{% endblock %}
{% block title %}
تکمیل ثبت نام
{% endblock %}

{% block content %}
<div class="container">
    {{ user.first_name }}
    {{ user.last_name }}
<form method="post">
    {% load bootstrap4 %}
{% csrf_token %}
    {% bootstrap_form customer %}
    <input type="submit" value="تکمیل ثبت نام" class="btn btn-block btn-primary">
</form>
</div>
{% endblock %}

{% block js %}
            {% if messages %}

            {% for message in messages %}
                <div class="message-flash">
                </div>
                <script>
                alert('{{ message }}')
                </script>
            {% endfor %}

    {% endif %}
{% endblock %}
