{% extends 'accounts/base-register.html' %}
{% block style %}
<style>
    body{
        direction: rtl;
    }
</style>
{% endblock %}

{% block title %}
ویرایش پروفایل
{% endblock %}
{% block content %}
<div class="container">
{% load bootstrap4 %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form customer %}
    {% buttons %}
        <input type="submit" value="ویرایش" class="btn btn-block btn-primary">
    {% endbuttons %}
</form>
</div>

{% endblock %}
{% block js %}
        {% if messages %}

            {% for message in messages %}
                <div class="message-flash">
                </div>
                <script>
                alert('{{ message }}')
                </script>
            {% endfor %}

    {% endif %}
{% endblock %}