{% extends 'accounts/base-register.html' %}
{% block style %}
<style>
    body{
        direction: rtl;
    }
</style>
{% endblock %}

{% block title %}
فراموشی کلمه عبور
{% endblock %}
{% block content %}
{% load bootstrap4 %}
<div class="container">
<div class="mt-5" style="width: 30vw; margin-right: 35%;">
<form id="forget-password">
    {% bootstrap_form forget_password_form %}
    {% buttons %}
        <input id="submit" name="submit" class="btn btn-block btn-primary" type="button" value="فراموشی کلمه عبور">
    {% endbuttons %}
</form>
<div id="forgetpassword_redirect">

</div>
</div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
     var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');

     $("#submit").on('click', function (){
       $.ajax({
           url: "{% url 'authapi:forget-password' %}",
           type: "POST",
           dataType: "text",
           headers:{"X-CSRFToken": $crf_token},
      data: $('#forget-password').serialize(),
           success: function (){
             $('#forgetpassword_redirect').append('<a href="{% url 'accounts:change_password' %}" class="btn btn-block btn-primary">تغییر کلمه عبور</a>');


    },
           error: function(xhr, resp, text){
               console.log(xhr, resp, text);

         }
          });
     });
     });
</script>
{% endblock %}
