{% extends 'accounts/base-register.html' %}
{% block style %}
<style>
    body{
        direction: rtl;
    }
</style>
{% endblock %}

{% block title %}
ورود
{% endblock %}
{% block content %}
{% load bootstrap4 %}
<div class="container">
<div class="mt-5" style="width: 30vw; margin-right: 35vw;">
<form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <label class="label">نام کاربری</label>
    <input type="text" class="form-control" name="username">
    <label class="label">پسورد</label>
    <input type="password" class="form-control" name="password">
    <input type="text" hidden value="{{ request.GET.next }}" name="next">
    <br>
    <input type="submit" value="ورود" class="btn btn-block btn-primary">

</form>
    <a href="{% url 'accounts:forget_password' %}" class="btn btn-block btn-primary mt-2">فراموشی کلمه عبور</a>
    <a href="{% url 'accounts:register' %}" class="btn btn-block btn-primary mt-4">حساب کاربری ندارم</a>
</div>
</div>
{% endblock %}
{% block js %}
        {% if messages %}

            {% for message in messages %}
                <div class="message-flash">
                </div>
                <script>
                alert('{{ message }}')
                </script>
            {% endfor %}

    {% endif %}
{% endblock %}