{% extends 'accounts/base-register.html' %}
{% block style %}

    <style>
        body {
            direction: rtl !important;
            text-align: right;
        }

    </style>
{% endblock %}

{% block title %}
پروفایل
{% endblock %}

{% block content %}

        <div class="card" style="width: 50vw; margin-right: 3vw;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ customer.first_name }} {{ customer.last_name }}</h5>
            <p class="card-text"> کد پستی : {{ customer.zip_code }}</p>
            <p class="card-text">  شماره تلفن : {{ customer.user.phone }}</p>
            <a href="{% url 'accounts:edit-profile' %}" class="btn btn-primary" style="float: right">ویرایش پروفایل</a>
            </div>
        </div>

{% endblock %}
{% block sidebar %}
    <ul class="list-group">
  <li class="list-group-item access-sidebar">دسترسی سریع</li>
    <li class="list-group-item"><a href="{% url 'basket:show-orders' %}">لیست سفارشات</a></li>
    <li class="list-group-item"><a href="#">لیست سفارشات اخیر</a></li>
</ul>
{% endblock %}
{% block js %}
{% endblock %}

