{% extends 'accounts/base-register.html' %}
{% block style %}

    <style>
        body {
            direction: rtl !important;
        }
        .rtl-text {
            text-align: right;
        }
    </style>
{% endblock %}

{% block title %}
پروفایل
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card" style="width: 18rem; margin-right: 43%; margin-top: 5rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title rtl-text">{{ customer.first_name }} {{ customer.last_name }}</h5>
            <p class="card-text rtl-text"> کد پستی : {{ customer.zip_code }}</p>
            <p class="card-text rtl-text">  شماره تلفن : {{ customer.user.phone }}</p>
            <a href="{% url 'accounts:edit-profile' %}" class="btn btn-primary" style="float: right">ویرایش پروفایل</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}

