{% extends 'accounts/base-register.html' %}
{% block style %}
<style>
    body{
        direction: rtl;
    }
</style>
{% endblock %}

{% block title %}
ثبت نام
{% endblock %}

{% block content %}
<div class="container">
<div class="mt-5" style="width: 30vw; margin-right: 35vw;">

<form id="form" action="" enctype="multipart/form-data">
    {% load bootstrap4 %}
{% csrf_token %}
    {% bootstrap_form user %}
    {% buttons %}
    <input type="button" id="submit" name="submit" value="ثبت نام" class="btn btn-block btn-primary ">
    {% endbuttons %}
</form>
<br>
    <div id="login_redirect"></div>

</div>



</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
     var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
     $("#submit").on('click', function (){
       $.ajax({
           url: "{% url 'authapi:register' %}",
           type: "POST",
           dataType: "text",
           headers:{"X-CSRFToken": $crf_token},
      data: $('#form').serialize(),
           success: function (){
             $('#login_redirect').append('<a class="btn btn-block btn-primary"' +
                 ' href="{% url 'accounts:complete-register' %}"> تکمیل ثبت نام </a>');
               alert('ثبت نام با موفقیت انجام شد');

    },
           error: function(xhr, resp, text) {
               console.log(xhr, resp, text);

         }
          });
     });
     });
</script>
{% endblock %}
