body {
    direction: rtl;
    text-align: right;

}
a:hover {
    text-decoration: none;
}
.navbar {
    background-color: #1e347b;
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}

.navbar-nav{
    margin-left: 50%;
}
.category-sidebar {
    background-color: #1e347b;
    color: white;
    text-align: right;
}
