body {
    direction: rtl;
    text-align: right;

}
.navbar {
    background-color: #1e347b;
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}


.category-sidebar {
    background-color: #1e347b;
    color: white;
    text-align: right;
}
