{% extends 'products/base.html' %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block content %}
<div class="row">
<div class="col-12">
    <h3 style="text-align: center; margin-right: 7vw;">محصولات مربوط به دسته بندی : {{ cat.name }}</h3>
</div>
<br>
    {% for product in productions %}

        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card" style="width: 22vw; margin-right: 1vw; margin-bottom: 2vw;">
              <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"> توضیحات محصول : {{ product.discription }}</p>
                <p class="card-text"> دسته بندی : {{ product.category }}</p>
                <p class="card-text"> قیمت : {{ product.price }}</p>
                <a href="{% url 'products:detail' product.id %}" class="btn btn-primary" style="float: right">مشاهده محصول</a>


              </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block sidebar %}
<ul class="list-group" style="margin-left: 1vw;">
  <li class="list-group-item category-sidebar">دسته بندی ها</li>

{% for category in categories %}

    <li class="list-group-item "><a href="{% url 'products:category' category.id %}">{{ category.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}