{% extends 'products/base.html' %}
{% block title %}
صفحه اصلی
{% endblock %}
{% block center %}
        <div style=" border-radius: 15px; text-align: center; margin-bottom:2vh; width: 96vw; background-color: #1e347b; color: white;">
        <hr>
        <h3>دسته بندی ها</h3>
        <hr>
    </div>
<div class="row">
{% for cat in categories %}

    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
         <div class="card" style="width: 22vw; height: auto; margin-bottom: 2vw; margin-left: 5px; text-align: center;">
             <div class="card-body">
                 <img class="card-img-top" style="width: 10vw; height: 15vh; margin-right: 1vw;" src="/media/{{ cat.image }}" alt="Card image cap">
                <h5 class="card-title mt-3">{{ cat.name }}</h5>
                 <a href="{% url 'products:category' cat.id %}" class="btn btn-primary" style="margin-right: 0.5vw;">مشاهده دسته بندی</a>

             </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
{% block content %}
            <div style=" border-radius: 15px; text-align: center; margin-bottom:2vh; width: 96vw; background-color: #1e347b; color: white;">
        <hr>
        <h3>محصولات مرتبط با دسته بندی {{ cat.name }}</h3>
        <hr>
    </div>
<div class="row">


    {% for product in productions %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card" style="width: 22vw; margin-right: 1vw; margin-bottom: 2vw;">
              <img class="card-img-top" style="width: 20vw;" src="/media/{{ product.image }}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"> قیمت : {{ product.price }}</p>
                <a href="{% url 'products:detail' product.id %}" class="btn btn-primary" style="float: right">مشاهده محصول</a>


              </div>
            </div>
        </div>
    {% endfor %}
</div>




    {% if productions.has_other_pages %}
  <ul class="pagination" style="margin-right: 40vw; margin-top: 8vw;">
    {% if productions.has_previous %}
      <li><a class="btn btn-sm btn-primary" style="margin-left: 1vw;" href="?page={{ productions.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span style="margin-left: 1vw;" class="btn btn-sm btn-primary">&laquo;</span></li>
    {% endif %}
    {% for i in productions.paginator.page_range %}
      {% if productions.number == i %}
        <li class="active"><span class="btn btn-sm btn-primary" style="margin-left: 1vw;">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="btn btn-sm btn-primary" style="margin-left: 1vw;" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if productions.has_next %}
      <li><a class="btn btn-sm btn-primary" style="margin-left: 1vw;" href="?page={{ productions.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span class="btn btn-sm btn-primary" style="margin-left: 1vw;">&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}

