{% extends 'products/base.html' %}
{% block title %}

    {{ my_product.name }}
{% endblock %}

{% block center %}
<div class="row">
<div class="card" style="width: 60vw; margin-right: 10vw;">

  <img class="card-img-top" style="width: 20vw;" src="/media/{{ my_product.image }}" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title">{{ my_product.name }}</h5>
    <p class="card-text"> توضیحات محصول : <br> {{ my_product.discription }}</p>
    <p class="card-text"> قیمت : {{ my_product.price }}</p>
      {% if my_product.inventory != 0 %}
          <form method="post" action="{% url 'products:order-product' my_product.id %}">
          {% csrf_token %}
          <label>تعداد : </label>
          <input type="number" name="num" class="form-control" style="width: 6vw; height: 4vh;">
            <br>
          <input type="submit" value="افزودن به سبد خرید" class="btn btn-primary">

          </form>

      {% else %}
    <button type="button" class="btn btn-secondary" disabled>ناموجود</button>

      {% endif %}
  </div>
</div>
</div>

{% endblock %}
{% block content %}

    <div style="border-radius: 15px; text-align: center; margin-bottom:2vh; width: 96vw; background-color: #1e347b; color: white;">
    <hr>
        <h3>محصولات مرتبط </h3>
    <hr>
    </div>
    <div class="row">

    {% for product in related_products %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card" style="width: 22vw; height: 60vh; margin-bottom: 2vw; margin-right: 5vw;">
              <img class="card-img-top" style="width: 20vw; height: 25vh;" src="/media/{{ product.image }}" alt="Card image cap">

              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">دسته بندی : <a href="{% url 'products:category' product.category.id %}" style="margin-right: 0.5vw;">{{ product.category.name }}</a>
</p>
                <p class="card-text"> قیمت : {{ product.price }}</p>
                <a href="{% url 'products:detail' product.id %}" class="btn btn-primary" style="float: right">مشاهده محصول</a>


              </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}


{% block js %}
            {% if messages %}

            {% for message in messages %}
                <div class="message-flash">
                </div>
                <script>
                alert('{{ message }}')
                </script>
            {% endfor %}

    {% endif %}
{% endblock %}