{% extends 'products/base.html' %}
{% block title %}

    {{ my_product.name }}
{% endblock %}

{% block content %}
<div class="row">
<div class="card" style="width: 60vw; margin-right: 10vw;">

  <img class="card-img-top" style="width: 20vw;" src="/media/{{ my_product.image }}" alt="Card image cap">

  <div class="card-body">
    <h5 class="card-title">{{ my_product.name }}</h5>
    <p class="card-text"> توضیحات محصول : <br> {{ my_product.discription }}</p>
    <p class="card-text"> قیمت : {{ my_product.price }}</p>
      {% if my_product.inventory != 0 %}
          <form method="post" action="{% url 'products:order-product' my_product.id %}">
          {% csrf_token %}
          <label>تعداد : </label>
          <input type="number" name="num" class="form-control" style="width: 6vw; height: 4vh;">
            <br>
          <input type="submit" value="افزودن به سبد خرید" class="btn btn-primary">

          </form>

      {% else %}
    <button type="button" class="btn btn-secondary" disabled>ناموجود</button>

      {% endif %}
  </div>
</div>
</div>

{% endblock %}

{% block sidebar %}
<ul class="list-group" style="margin-left: 1vw;">
  <li class="list-group-item category-sidebar">دسته بندی ها</li>

{% for cat in categories %}

  <li class="list-group-item "><a href="{% url 'products:category' cat.id %}">{{ cat.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% block js %}
            {% if messages %}

            {% for message in messages %}
                <div class="message-flash">
                </div>
                <script>
                alert('{{ message }}')
                </script>
            {% endfor %}

    {% endif %}
{% endblock %}