{% extends 'products/base.html' %}
{% block title %}
صفحه اصلی
{% endblock %}

{% block content %}
<div class="row">
    {% for product in products %}
        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card" style="width: 22vw; height: 60vh; margin-bottom: 2vw; margin-left: 5px;">
              <img class="card-img-top" style="width: 20vw; height: 25vh;" src="/media/{{ product.image }}" alt="Card image cap">

              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"> دسته بندی : {{ product.category }}</p>
                <p class="card-text"> قیمت : {{ product.price }}</p>
                <a href="{% url 'products:detail' product.id %}" class="btn btn-primary" style="float: right">مشاهده محصول</a>


              </div>
            </div>
        </div>
    {% endfor %}
</div>


    {% if products.has_other_pages %}
  <ul class="pagination">
    {% if products.has_previous %}
      <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
      <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}

{% block sidebar %}
<ul class="list-group" style="margin-left: 1vw;">
  <li class="list-group-item category-sidebar">دسته بندی ها</li>

{% for cat in categories %}

  <li class="list-group-item "><a href="{% url 'products:category' cat.id %}">{{ cat.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}