{% extends 'products/base.html' %}
{% block title %}
سبد خرید
{% endblock %}

{% block content %}
{% if products %}
    <div class="row">
    {% for pro in products %}
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="card" style="width: 32vw; margin-right: 2vw;">
      <img class="card-img-top" src="{{ pro.image }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ pro.name }}</h5>
        <p class="card-text">{{ pro.discription }}</p>
        <a href="{% url 'products:delete-basket-item' pro.name %}" class="btn btn-danger btn-sm">حذف از سبد</a>
      </div>
    </div>
        </div>
    {% endfor %}
<div class="col-12" style="margin-right: 2vw;">
    <a href="{% url 'basket:basket' %}" class="btn btn-block btn-primary mt-5">نهایی کردن خرید</a>
    </div>
    </div>
        {% else %}

    <div class="col-12" style="margin-top: 20vh;">
    <script>
                //write this above first
        let a=document.createElement('a');
        a.href="{% url 'products:index' %}";
        //then use this code for alert
        if (window.confirm('سبد خرید خالی است, برای برگشت به خانه روی ok کلیک کنید'))
        {
        a.click();
        };
    </script>
    </div>
    {% endif %}



{% endblock %}

{% block sidebar %}
<ul class="list-group" style="margin-left: 1vw;">
  <li class="list-group-item category-sidebar">دسته بندی ها</li>

{% for cat in categories %}

  <li class="list-group-item "><a href="{% url 'products:category' cat.id %}">{{ cat.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}